
<p id="errorMessage" style="display: none; color: red"></p>

<%= form_tag '/cash_out', method: 'POST', remote: true do %>
  <p>Select amount <br />
    <%= select_tag :amount, options_for_select(Bet::TOP_UP_AMOUNTS) %></p>
  <p>
    Please provide your email<br />
    <%= text_field_tag :email %>
  </p>
  <%= submit_tag 'Gimme my monies' %>
<% end %>
