<h1>Withdraw your money</h1>

<%= form_tag '/cash_out', method: 'POST' do %>
  <p>
    Please provide your email<br />
    <%= text_field_tag :email %>
  </p>
  <%= submit_tag 'Gimme my monies' %>
<% end %>
