<div id="container">
  <div id="userContainer">
    <div id="userName"></div>
    <div id="userBalance"></div>
  </div>
  <div id="balanceOptions">
    <a href="#" id="topup" class="toggleDialog">Top up</a><br />
    <a href="#" id="withdraw" class="toggleDialog">Cash out</a>
  </div>
  
  <div id="betContainer">
    <div id="slider">
    </div>
  
    <div id="min" value="0">
      0
    </div>
  
    <div id="max" value="100">
      100
    </div>
  
    <div id="betButtons">
    	<div class="betButton" id="bet1" data-amount="1"></div>
    	<div class="betButton" id="bet10" data-amount="2"></div>
    	<div class="betButton" id="bet5" data-amount="5"></div>
    </div>
  </div>

  <div id="betHistory">
  </div>
</div>
<div id="topupDialog" class="dialog" title="Top up">
  <%= render :partial => "balance/index" %>
</div>
<div id="withdrawDialog" class="dialog" title="Withdraw your monies">
  <%= render :partial => "withdraw/index" %>
</div>

<script type="text/javascript" language="javascript" charset="utf-8">
//<![CDATA[
  window.userToken = "<%= @user.token %>";
//]]>
</script>
