/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin: 0;
  padding: 0;
}

#slider 
{
    width: 80%;
    margin: 0 auto;
}

#min, #max {
    width: 50px;
    text-align: center;
}

.betButton
{
	float:left;
	width: 150px;
	height: 150px;
	background-size: contain;
	background-repeat: no-repeat;
	margin: 10px;
  cursor: pointer;
}

#betButtons
{
  margin: 0 auto;
  overflow: auto;
  width: 510px;
}

#bet1
{
	background-image: url(/1.png);
}

#bet5
{
	background-image: url(/5.png);
}

#bet2
{
	background-image: url(/2.png);
}

#textStuffs
{
	float: right;
}

.boxContainer {
  overflow: auto;
  margin: 10px;
  float: left;
  border: 3px solid #dddddd;
  border-radius: 10px;

  button {
    font-size: 30px;
    line-height: 1.2em;
    margin: 0.5em;
  }

  input {
    font-size: 30px;
    line-height: 1.2em;
    margin: 0.5em;
    width: 150px;
  }

  #userName, #userBalance {
    font-size: 30px;
    line-height: 1.2em;
    font-family: sans-serif;
    float: left;
    padding: 20px;
  }
}

#betContainer
{
  padding: 20px;
  background-color: #dddddd;
  clear: both;
  overflow: auto;
}

.floatingText {
  position: fixed;
  display: none;
  z-index: 1000;
  opacity: 0;
}

#textStuff {
  font-size: 1.2em;
  text-align: center;

  > * {
    margin-top: 2em;
  }

  #cookieWarning {
    font-weight: bold;
    text-decoration: underline;
  }

  #error {
    color: red;
  }
}
